.container {
  /* border: 1px solid #e2e8f0; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 270px;
  height: 350px;

  display: flex;
  flex-direction: column;
}

.goodImage {
  width: 270px;
  height: 160px;
  object-fit: contain;

  /* border: 1px solid #e2e8f0; */
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.title {
  width: 250px;
  height: 50px;

  font-size: 1.1rem;
  color: #9f4242;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  text-wrap: wrap;
}
.cartBtn {
  width: 250px;
  height: 40px;
  background: #ff6633;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: center;
}
@media (max-width: 1440px) {
  .container {
    /* border: 1px solid #e2e8f0; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    width: 200px;
    height: 250px;
  }
  .goodImage {
    width: 200px;
    height: 120px;
  }
  .title {
    width: 150px;
    font-size: 0.8rem;
    text-wrap: wrap;
  }
  .cartBtn {
    width: 200px;
    height: 30px;
  }
}
