.container {
  max-width: 1400px;
  max-height: 390px;
  overflow: hidden;
  align-self: center;
}
.slider {
  max-width: 1100px;
  padding: 0rem 1rem;
  white-space: nowrap;

  display: flex;
  flex-direction: row;

  overflow-x: scroll;
  overflow-y: hidden;

  transition: scroll 0.4s ease-out;
  /* scroll-behavior: smooth; */

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.slider::-webkit-scrollbar {
  display: none; /* WebKit */
}
.slider > * {
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .container {
    max-width: 660px;
    max-height: 390px;
  }
  .slider {
    max-width: 635px;
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 460px;
    max-height: 290px;
  }
  .slider {
    max-width: 430px;
    gap: 0.5rem;
  }
}
@media (max-width: 360px) {
  .container {
    max-width: 260px;
    max-height: 260px;
  }
  .slider {
    max-width: 200px;
    gap: 0.5rem;
  }
}
