.starRating {
  width: 250px;
  height: 25px;

  /* border: 1px solid black; */

  align-self: center;

  display: flex;
  flex-direction: row;

  padding-left: 1rem;
}

.star {
  width: 20px;
  height: 20px;

  height: min-content;
  display: block;

  position: relative;
}
.cover {
  background: white;
  height: 100%;
  width: 20px;
  height: 20px;
  overflow: hidden;
  mix-blend-mode: color;
  /* border-radius: 0 5px 5px 0px; */

  position: absolute;
  top: 0;
  right: 0;
}
